* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.438rem 0;
  font-family: "Arimo", sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #575757;
  font-size: 0.875rem;
}

.btn-1 {
  text-decoration: none;
  background: #1d4ed8;
  color: #ffffff;
  padding: 0.75rem 1.75rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
}

.hero {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(to left, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.88) 87%),
    url("./assets/banner.jpg") center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  position: relative;
  color: #ffffff;
  max-width: 750px;
  padding: 1.25rem;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.hero-content p {
  font-size: 1.125rem;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.btn-2 {
  background: #1d4ed8;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 12rem;
  border: none;
}

.speakers-container {
  width: 90%;
  max-width: 1200px;
  margin: 5rem auto;
  font-family: "Inter", sans-serif;
}

.speakers-container h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3.125rem;
  color: #000102;
}

.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}

.speakers-card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  overflow: hidden;
}

.speakers-card img {
  width: 100%;
  height: 16.25rem;
  object-fit: cover;
  display: block;
}

.speakers-content {
  padding: 1.25rem;
}

.speakers-content span {
  font-size: 0.688rem;
  font-weight: bold;
  color: #2563eb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.speakers-content h3 {
  margin: 0.625rem 0 0.5rem;
  font-size: 1.5rem;
  color: #0d1b2a;
}

.speakers-content p {
  font-size: 0.938rem;
  color: #575757;
  line-height: 1.6;
}
